.container-adminHotel{
  display: flex;
  position: relative;
}



/* CSS cho modal */
.ant-modal-wrap {
  position: absolute; /* Đặt modal ở vị trí tuyệt đối */
  top: 0;
  right: 0;
  margin-top: 10px; /* Đặt modal bên phải */
}

