.container-rooms-booking {
  width: 95%;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 50px
}

.container-rooms-booking h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.tableBooking {
  width: 100%;
  border-collapse: collapse;
  background-color: rgb(87, 208, 242);
}

.tableBooking td{
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #040404;
}

.tableBooking th, .table td {
padding: 10px;
text-align: center;
border: 1px solid black;
border-bottom: 1px solid #000;
}

.tableBooking .th {
  font-weight: bold;
  background-color:  #61caff;
}

.btnroom {
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  background-color: #dc3545;
  color: white;
  cursor: pointer;
}

.btnroom:hover {
  background-color: #c82333;
}

.btnroom:active {
  background-color: #bd2130;
}
