.container-adminUser{
  display: flex;
}

.table{
  width: 80%;
  background-color: rgb(186, 229, 241);
  text-align: center;
  margin: 0 auto;
  height: 200px;
  margin-top: 30px;
}

.table td{
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #040404;
    background-color: white;
}

.table th, .table td {
  padding: 10px;
  text-align: center;
  border: 1px solid black;
  border-bottom: 1px solid #000;
}

.table .th {
  font-weight: bold;
  background-color: linear-gradient(30deg , #0048bd, #44a7fd);
}