.containerHeader{
  display: flex;
  width: 100%;
  background: linear-gradient(to right, #144E75 0%, #2CABFF 50%, #397CD9 100%);
  justify-content: space-around;
  margin-bottom: 50px;
}

.containerHeader label{
  font-weight: 500;
}

.main{
  width: 95%;
  margin-left: 50px;
}

.imgDetail{
  margin: 39px 7px 70px 10px;
  display: flex;
}

.selectRoom2{
  height: 35px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgb(231, 231, 231);
  transition: border-color 0.3s;
  outline: none;
}

.selectRoom2:hover {
  border-color: #00bfff;
}

.inforRight span{
  font-size: medium;
  color: #072c92;
}

.containerItemRoom{
  border: 1px solid rgba(60, 148, 255, 0.639);
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 50px;
  border-radius: 10px;
  margin-left: 97px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  width: 85%;
}

.itemInfor p {
  font-weight: 500;
}

.itemInfor span{
  color: #072c92;
}

.containerFeedback {
  margin-bottom: 100px;
}

.feedback {
  width: 90%;
  margin: 5px auto;
  background-color: #efefef;
  border-radius: 8px;
}

.feedback h3 {
  font-weight: 500;
  text-align: center;
}

.feedback p {
  font-weight: 500;
  margin-left: 20px;
}

.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.avatar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.user-name {
  margin-left: 10px;
  font-weight: bold;
}

.rating {
  display: flex;
  justify-content: center;
  margin-left: 20px;
}

.star {
  font-size: 24px;
  color: gold;
  margin: 0 2px;
}

.rateting-from{
  margin-left: 80px;
}

textarea:where(.css-dev-only-do-not-override-1wazalj).ant-input {
  max-width: 85%;
  margin-left: 73px;
  height: auto;
  min-height: 32px;
  line-height: 1.5714285714285714;
  vertical-align: bottom;
  transition: all 0.3s,height 0s;
  resize: vertical;
}

.rate{
  box-sizing: border-box;
  margin: 0 0 6px 72px !important;
  padding: 0;
  color: #fadb14;
  font-size: 20px;
  line-height: unset;
  list-style: none;
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
  display: inline-block;
  outline: none;
}

.btn_feed_back{
  height: 37px;
  width: 100px;
  background-color: #00bfff;
  border: none;
  border-radius: 5px;
  color: white;
  margin-left: 74px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 500;
}

.btn_feed_back:hover{
  background-color: rgb(9, 160, 210);
}

.deleteComment{
  border: ;
}
