.container-adminRoom{
    display: flex;
    position: relative;
}

.ant-modal-wrap {
  position: absolute; /* Đặt modal ở vị trí tuyệt đối */
  top: 0;
  right: 26px;
  margin-top: 10px; /* Đặt modal bên phải */
}

.uploadImg{
  border: none;
  background-color: rgb(0, 162, 255);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  height: 30px;
  width: 100px;
  margin-bottom: 5px;
}

:where(.css-dev-only-do-not-override-1wazalj).ant-modal .ant-modal-content{
  top:-70px;
}

.description-cell {
  max-height: 80px;
  overflow: hidden;
  position: relative;
}

.description-content {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  padding: 5px;
  display: none;
}

.show-more-button {
  background-color: transparent;
  border: none;
  color: blue; /* Màu chữ tùy chọn */
  cursor: pointer;
}

